@font-face {
    font-family: "Montserrat";
    src: url(./FONTS/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    font-family: Montserrat;
    text-align: center;
}

strong {
    color: #f2994a;
}

h3 {
    font-weight: 700;
    font-family: Montserrat;
    margin-bottom: .5rem;

}

.heads {
    padding-top: 2rem;
}

sub {
    text-decoration: line-through;
}

input {
    margin-top: .5rem;
    font-family: Montserrat;
    border-radius: 5px;
    border: 1px solid gray;
}


label {
    font-size: 12px;
    font-family: Montserrat;
}

.container {
    padding-top: 2rem;
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-template-rows: repeat(2, 100%);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.right {
    display: flex;
}

.form {
    width: 100%;
    padding-right: 2rem;

}

.contact form div {
    padding-bottom: 1rem;

}

/* ! contact logo */

.contact input {
    width: 100%;
    height: 26px;
    padding: 8px 5px 8px 35px;
}

.contact .input-box {
    position: relative;

}

.contact .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
    left: 2%;
    color: #828282;

}

.contact .input-box input {
    padding: 0 2rem;
    height: 2rem;
}

/* ! shipping logo */

.shipping .input-box {
    position: relative;
    margin-bottom: .5rem;
}

.shipping .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(30%);
    left: 3%;
    color: #828282;
}

.shipping form [type=text],
.contact form [type=text] {
    width: 100%;
    padding: 8px 5px 8px 35px;
}

/* ! yanyana */

.zazaa {
    float: left;
}

.zaza {
    float: right;
    margin-left: 1rem;

}

/* .input-box .country {
        display: block;
    } */

.input-box .country #dropdown {
    padding: .5rem 0 .5rem 2rem;
    position: relative;
    border-radius: 10px;
    margin-top: .5rem;

}

.input-box .country #postcode {
    position: relative;
    border-radius: 10px;
    border: 1px solid #828282;
}

.zazaa,
.zaza {
    position: relative;
}

.zazaa i {
    z-index: 1;
    left: 10% !important;

}

.zaza i {
    z-index: 1;
}

/* ! sol en alt */

.left_bottom {
    position: relative;
}

.submit-button {
    background-color: #f2994a;
    color: #fff;
    position: absolute;
    right: 0;
    top: 7rem;
    width: 20%;
    padding: 14px 0;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    border: none;
}

.see_this {
    position: absolute;
    top: 4rem;
}





/* !================== right */

.right {
    display: flex;
    justify-content: center;

}

.shopping-card {
    padding: 1rem;
    background-color: #EEEEEE;
    height: fit-content;
    border-radius: 10px;
    margin-left: 1rem;
    font-family: Montserrat;
    width: 25rem
}

.back-bag {
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-rows: 1fr; */
    /* border: 1px solid red; */
    margin-bottom: 0.5rem;

}


.back-img {
    grid-row: span 2;
}

.shoes {
    display: grid;
    grid-template-columns: auto 1fr;

}

.shoe-img {
    grid-row: span 2;
    margin-bottom: 2rem;

}

img {
    border-radius: 10px;
    margin-right: 20px ;
    /* height: 11rem; */
    width: 10rem;
}

.quantity_counter {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    margin-top: 0;
    padding: .2rem .5rem;
    gap: 0.7rem;

}

.back-bag i {
    cursor: pointer;
}

.remove-btn {

    width: fit-content;
    margin: 1rem 0;
}

.remove-btn .btn {
    background-color: rgb(247, 43, 43);
    border-radius: 5px;
    padding: 3px 8px;
    color: white;
    border: none;
    cursor: pointer;
}

.remove-btn:hover {
    opacity: .9;
}

/* ! totalll */

.total {
    margin: 1rem 0;
}

.total_var,
.total_cost,
.total_sub,
.total_tax {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
}


/* ! mediaaaaaa */
@media only screen and (max-width: 540px) {

    /* @media only screen and (max-width: 1490px) { */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        margin: auto;
        grid-template-columns: 100%;
        width: 90%;
        grid-template-rows: 500px 1fr;
        grid-template-areas: "top""bottom";
    }

    .left {
        grid-area: bottom;
        margin: auto;
        width: 100%;
    }

    .right {
        grid-area: top;
        width: 100%;
        margin: auto
    }

    .shopping-card {
        width: 100%;
        margin-left: 0;
        height: 500px;

    }

    .right img {
        height: 180px;
        width: 100%;
    }

    .back-bag__name,
    .shoe__name {
        padding-left: 20px;
    }

    .quantity_counter {
        width: 50%;
        margin-top: 5px;
        padding: .5rem 0;
        font-size: bolder;
        margin-left: 20px;
    }

    .quantity_counter button {
        margin: auto;
    }

    /* !============================== */

    .input-box .country {
        display: flex;
        flex-direction: column;
    }

    .zaza {
        margin-top: 1rem;
        margin-left: 0;
    }

    .zazaa i {
        left: 2% !important;
    }

    .shipping .input-box i {
        position: absolute;
        left: 2%;
    }

    .submit-button {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -3rem;
    }

    .see_this {
        top: 1rem;
    }
}
